$color-border-premier: #d1d5db;
$color-bg-button-premier: #2563eb;
$color-bg-button-hover-premier: #1e40af;

$color-text-light-premier: #fff;
.select,
.input {
  &.half {
    width: 50%;
  }
  &.premier {
    border-color: $color-border-premier;
  }
}

.panel-button {
  &.full {
    width: 100%;
  }
  &.premier {
    background-color: $color-bg-button-premier;
    color: $color-text-light-premier;
    &:hover {
      background-color: $color-bg-button-hover-premier;
    }
  }
}
