$color-bg-table-header-premier: #efefef;
$color-border-premier: #d1d5db;

$color-bg-table-header-wimbledon: #efefef;
$color-border-wimbledon: #d1d5db;

$color-bg-table-eurobasket: #00201b;
$color-text-light: #fff;

.table {
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse;
  width: 100%;

  th {
    padding: 0.9rem;
    font-weight: 500;
  }

  td {
    padding: 0.9rem;
    font-weight: 500;
  }
  &.premier {
    th {
      border-bottom: 2px solid $color-border-premier;
      background-color: $color-bg-table-header-premier;
    }
    td {
      border-bottom: 2px solid $color-border-premier;
    }
  }

  &.wimbledon {
    th {
      padding: 0.6rem;
      border-bottom: 2px solid $color-border-wimbledon;
      background-color: $color-bg-table-header-wimbledon;
      font-weight: 700;
      text-align: center;
    }
    td {
      padding: 0.6rem;
      border-bottom: 2px solid $color-border-wimbledon;
      text-align: center;
    }
  }

  &.eurobasket {
    th {
      padding: 0.6rem;
      border: none;
      background-color: transparent;
      font-weight: 700;
      text-align: center;
      color: $color-text-light;
    }
    td {
      padding: 0.6rem;
      border: none;
      background-color: $color-bg-table-eurobasket;
      text-align: center;
      color: $color-text-light;
    }
  }
}
