$color-bg-league-container-eurobasket: #002e26;
$color-bg-header-eurobasket: #002e26;
$color-text-light-eurobasket: #fff;

.league-container.eurobasket {
  font-family: "Montserrat", "Bebas Neue", sans-serif;
  background-color: $color-bg-league-container-eurobasket;
  position: relative;
}
.header.eurobasket {
  background-color: $color-bg-header-eurobasket;
  color: $color-text-light-eurobasket;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.section {
  &.eurobasket-buttons {
    margin: 0.5rem;
  }
  &.matchlist {
    margin: 0 1rem 0 1rem;
    padding: 0 1rem 0 1rem;
  }
}
.table-section.eurobasket {
  margin: 0 1.8rem 0 1.8rem;
}
.table-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: $color-text-light-eurobasket;
}
